.THIS {
}

.THIS.preview {
    max-height: 200px;
    object-fit: contain;
}

.THIS.preview img{
    border: 2px solid black;
}

.THIS .checkbox{
  display: inline-block;
  float: left;
  margin: 0 5px;
}